@model VirtualClassroom.WEB.Data.Entities.UserSubject

<h2>Global Chat</h2>


<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">User</div>
        @if (User.Identity.IsAuthenticated && User.IsInRole("Teacher"))
        {
<div class="col-4">
        <input type="text" id="userInput" value="@Model.User.FullName (@Model.User.UserType: @Model.Subject.Name)" disabled />
          @*  <textarea type="text" id="userInput" value="@Model.User.FullName (@Model.User.UserType: @Model.Subject.Name)" disabled />*@
</div>



        }
        @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
        {

<div class="col-4"><input type="text" id="userInput" value="@Model.User.FullName (Student)" disabled /></div>
        }
        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {

<div class="col-4"><input type="text" id="userInput" value="(Admin)" disabled /></div>
        }
    </div>
    <div class="row">
        <div class="col-2">Message</div>
        <div class="col-4"><input type="text" id="messageInput"  placeholder="Type your message"/></div>
    </div>
    <div class="row">&nbsp;</div>

     <div class="row">
         <div class="col-6">
             <input type="button" id="sendButton" value="Send Message" />            
         </div>
      </div>


 
 

</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
@*<script>
    function playSound(url) {        const audio = new Audio(url);        audio.play();    }
</script>*@ 



@*<script>
 
    var input = document.getElementById("sendButton");
    input.addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("messageInput").click();
        }
    });
</script>*@